 .slider{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-25%, -50%);
    height: 200px;
    width: 200px;
    box-shadow: 15px 15px 0 16px black ;
    border-radius: 50%;

}
.espacio{
    margin-bottom: 20%;
}
.center{
    padding: 100px;
}
 body {
    font-family: Arial, sans-serif;
    margin: 50%;
    padding: 50%;
    background-color: #f4f4f4;
}

/* Title styles */
h1 {
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
    margin-left: 850px;
}

li {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styles */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
input[type="checkbox"] {
    margin-right: 10px;
    appearance: none; /* oculta el estilo predeterminado del checkbox */
    width: 20px;
    height: 20px;
    border-radius: 50%; /* hace que el checkbox sea redondo */
    border: 2px solid #ccc;
    outline: none; /* elimina el contorno predeterminado */
}

input[type="checkbox"]:checked {
    background-color: #4CAF50; /* color de fondo cuando está seleccionado */
    border-color: #4CAF50; /* color del borde cuando está seleccionado */
}
input[type="checkbox"]:disabled + label {
    color: #999; /* Cambia el color del texto cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" cuando está deshabilitado */
}

input[type="checkbox"]:disabled {
    opacity: 0.5; /* Reduce la opacidad del checkbox cuando está deshabilitado */
}

/* Opcional: Estilo para el subrayado cuando está deshabilitado */
input[type="checkbox"]:disabled + label::before {
    background-color: #999; /* Cambia el color del subrayado cuando está deshabilitado */
}
.checked {
    color: green; /* Cambia el color cuando está checkeado */
  }
  
  .unchecked {
    color: red; /* Cambia el color cuando no está checkeado */
  }